h1.title { /*titre général du document*/
  color: #e73458; /*couleur titre*/
  font-size: 3em; /*taille*/
  font-family: "Nexa Bold"; /*police*/
  font-weight: bold; /*gras*/
  border-top: 0px; /*pas de ligne horizontale avant*/
  padding-left: 100px; /*tout à gauche, pas d'alinéa*/
  padding-top: 230px; /*espace avant titre*/
  margin-top: 30px; /*marge à 0*/
  margin-bottom: 50px; /*marge à 0*/
}
h1 { /*titre de niveau #1*/
  color: #e73458; /*couleur titre*/
  font-size: 3em; /*taille*/
  font-family: "Nexa Bold"; /*police*/
  font-weight: bold; /*gras*/
  border-top: .8px solid #CCCCCC; /*ligne horizontale avant titre*/
  padding-left: 50px; /*alinéa, espace à gauche du titre*/
  padding-top: 30px; /*espace avant titre*/
  padding-bottom: 0px; /*espace après titre*/
  margin-top: 50px; /*espace avant ligne horizontale*/
}
h2 { /*titre de niveau #2*/
  color: #e73458; /*couleur titre*/
  font-size: 2.5em; /*taille*/
  font-family: "Nexa Bold"; /*police*/
  font-weight: bold; /*gras*/
  padding: 0px; /*alinéa*/
  padding-top: 30px; /*espace avant titre*/
}
h3 { /*titre de niveau #3*/
  color: #23ae84; /*couleur titre*/
  font-size: 2em; /*taille*/
  font-family: "Nexa Bold"; /*police*/
  font-weight: bold; /*gras*/
  padding: 10px; /*alinéa*/
  padding-left: 0px; /*alinéa*/
}
h4 { /*titre de niveau #4*/
  color: #e73458; /*couleur titre*/
  font-size: 1.5em; /*taille*/
  font-family: "Nexa Bold"; /*police*/
  font-weight: bold; /*gras*/
  padding: 10px; /*alinéa*/
  padding-left: 40px; /*alinéa*/
}
h5 { /*titre de niveau #5*/
  color: #e73458; /*couleur titre*/
  font-size: 1em; /*taille*/
  font-family: "Nexa Bold"; /*police*/
  font-weight: bold; /*gras*/
  padding: 0px; /*alinéa*/
}
body { /*corps de texte*/
  text-align: justify; /*texte justifié*/
  font-size: 1.5em; /*taille*/
  font-family: "Trade Gothic"; /*police*/
  letter-spacing: 0px; /*pas d'espace entre les lettres*/
  list-style: disc inside; /*listes en bullet-points*/
}
a:link { /*lien hyper texte*/
    color: #e73458;
}
a:hover { /*souris au-dessus du lien hyper texte*/
    color: #ef7875;
}
a:visited { /*lien visité*/
    color: #e73458;
}
